/*Google Fonts*/
@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");

:root{
    --Snigle-font:"Sniglet",cursive;
    --Rubik:"Rubik",cursive;
    --Patua:"Patua One",cursive;
    --Lobster:"Lobster",cursive;
    --light-black:#2e2c2caf;
    --light-gray:rgba(212, 209, 209, 0.6);
}
body{
    /*background-image: linear-gradient(to right, #bebebb,rgba(165, 42, 42, 0.705));*/
    background-repeat: no-repeat;
    width: 100%;
    font-family: 'Dosis', sans-serif;
    margin-bottom: 0px;
}
.banner{
    margin-bottom: 100px;
}
.navbar-brand{
    padding: 10px;
}

.navbar{
    background-image: linear-gradient(to right, #6c6c69,rgba(165, 42, 42, 0.705));
    margin-bottom: 30px;
}

/* nav bar underlining style */
.navbar-nav li a {
    color: #1a1818 !important;
    font-weight: 600;
    text-decoration: none;
    position: relative;
  }
  .navbar-nav li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #1a1818;
    transition: width 1s ease;
  }
  .navbar-nav li a:hover::after {
    width: 100%;
  }
  /* Nav bar underlining style ends here */


.col-md-6{
    padding-top: 100px;
}
.d-flex{
    width: 500px;
    margin-left: 35px;
}

.row{
    padding-right: 30px;
    padding-left: 35px;
}
.container{
    border-radius: 10px;
    padding: 20px;
    background-image: linear-gradient(to right, #979795,rgba(165, 42, 42, 0.705));
    font-family: var(--Rubik);
    box-shadow: 0px 25px 42px rgba(0,0,0,0.2);
}
.search-btn{
    background-color: rgba(165, 42, 42, 0.822);
    border: none;
    border-radius: 50px;
    outline: none;
    padding: 10px 30px 10px 30px;
    color:white;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 10px;
    font-family: var(--Rubik);
}
#search-box {
    margin-bottom: 10px;
  }
.book a:hover{
    background-color: rgba(184, 102, 102, 0.705);
    padding: 5px;
    margin-bottom: 7px;
    border-radius: 5px;
    
}
.promo-title{
    padding-left: 117px;
    font-size: medium;
    font-weight: 600;
    font-family: var(--Rubik);
}
.click{
    border-radius: 50px;
    background-color: rgba(165, 42, 42, 0.822);
    border: none;
    outline: none;
    color: white;
    padding: 10px;
}
.footer{
    background-color: rgb(63, 63, 63);
    color: rgb(252, 253, 254);
    background-size: 1366px 570px;
}
@media screen and (max-width: 500px){
    .d-flex{
        position: initial;
        width: initial;
        height: initial;
        padding-right: 20px;
    }
}